/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Grenze+Gotisch:wght@300&family=Nosifer&display=swap');

html {
    scroll-behavior: smooth;
}
/* Set color schemes for adult theme and kid theme  */
.kid-theme {
    --wrapper: #70A37F;
    --background-color: #242423;
    --button-bg-color: #BEE9E8;
    --button-text-color: #242423;
    --button-hover-bg-color: #242423;
    --button-hover-text-color:#BEE9E8;
}

.adult-theme {
    --wrapper: #F5CB5C;
    --background-color: #242423;
    --button-bg-color: #881600;
    --button-text-color: #F5EFED;
    --button-hover-bg-color: #F5EFED;
    --button-hover-text-color:#881600;
}

body {
    background-color: var(--background-color);
    font-family: 'Grenze Gotisch', cursive;
    font-size: 25px;
    line-height: 30px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
.navbar-brand {
    font-family:'Creepster', cursive;
    font-size: 40px;
}

.nav-link {
    font-family:'Creepster', cursive;
    font-size: 40px;
}

/* Welcome hero section */
.hero-image {
    background-image: url("../images/bats.jpg");
    height: 100vh;  
} 

#bg-image,
.hero-image {
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    z-index: -1;
    top: 0;
}


#bg-image {
    height: 100%;
    object-fit: cover;
}

.welcome {
    /* position: relative; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.welcome-banner {
    /* top: 15%;  */
    padding: 2rem;
    
}

.game-banner {
    /* top: 0; */
    /* margin-bottom: 15px; */
    padding: 1rem;
}

.game-banner,
.welcome-banner {
    background: rgba(0, 0, 0, .7);
    color: white;
    text-align: center;
    /* left: 25%;
    position: absolute;
    transform: translate(-50%, 15%); */
    width:90%;
    border-radius: 1rem;
}

/* Game play section */


/* Buttons */
.button-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn.btn-color {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 25px;
}

.btn.btn-color:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

.kid-btn {
    background-color: #BEE9E8;
    color: #242423;
    font-size: 25px;
}

.kid-btn:hover {
    background-color: #242423;
    color: #BEE9E8;
}

.adult-btn {
    background-color: #881600;
    color: #F5EFED;
    font-size: 25px;
}

.adult-btn:hover {
    background-color: #F5EFED;
    color: #881600;
}

.option-btns {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
}

.option-btns:hover{
    animation: shake 2s linear infinite;
    /* animation: pulse 2s linear infinite; */
}

footer {
    margin-top: auto;
}

.modal-title {
    font-size: 24px;
}
 

/* Keyframes */
.icons {
    justify-content: space-between;
    margin-left: 15px;
    width: 90vw;
}

.typing {
    overflow: hidden;
    white-space: initial; 
    margin: 0 auto;
    color: white;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(500, end),
    blinking-caret .75s step-end infinite;
}

.spiderDown,
.spiderUp,
.ghost {
    font-size: 40px;
    z-index: 99999999;
}

.spiderDown,
.spiderUp {
    margin-right: 140px;
} 

.spiderUp {
    animation: updown 4s ease-in-out infinite;
}

.spiderDown {
    animation: downup 15s ease-in-out infinite;
}

.ghost {
  animation: floating 20s ease-in-out infinite
}

.ghosts {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ghost_bobbing {
    animation: bobbing 3s ease-in-out infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blinking-caret {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: red; 
    }
  }

/* @keyframes pulse {
    0% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
} */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes updown {
    0% {
      transform: translateY(-100%);
      left: 0px;
      top:0px;

    }
    50% {
      transform: translateY(100%);
      left: 0px;
      bottom: 0px;
    
    }
    100% {
      transform: translateY(-100%);
      left: 0px;
      bottom: 0px;
   
    }
}

@keyframes downup {
    0% {
      transform: translateY(100%);
      left: 0px;
      top:0px;
    }
    50% {
      transform: translateY(-100%);
      left: 0px;
      bottom: 0px;
    }
    100% {
      transform: translateY(100%);
      left: 0px;
      bottom: 0px;
    }
}
    
@keyframes floating {
      0% { 
          transform: translateX(0px); 
        }
      50%  { 
          transform: translateX(80vw); 
        }
      100%   { 
          transform: translateX(-0px); 
        }  
    }


@keyframes bobbing {
        0% { 
            transform: translate(0,  0px); 
        }
        50%  { 
            transform: translate(0, 17px); 
        }
        100%   { 
            transform: translate(0, -0px); 
        }   
    }


/* Media query for tablet and bigger */
@media screen and (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
        height: 100%;
    }
}


@media screen and (max-width: 768px) {
    body {
        background-color: var(--background-color);
        font-family: 'Grenze Gotisch', cursive;
        font-size: 17px;
        line-height: 17px;
        display: initial;
    }

    .navbar-brand,
    .nav-link {
        font-size: 17px;
    }
    .game-banner,
    .welcome-banner {
        top:5px;
     
    }

    .btn {
        line-height: 1;
    }
    .btn.btn-color,
    .option-btns {
        font-size: 17px;
    }
    
    .spiderDown,
    .spiderUp,
    .ghost {
        font-size: 20px;
        z-index: 99999999;
    }

    .spiderDown,
    .spiderUp {
        margin-right: 25px;
    } 
    
    .modal-body,
    .modal-title {
        font-size: 17px;
    }
}


